<?xml version="1.0" encoding="UTF-8"?>
<con:interface xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="con:RestService" id="ff06469a-9b7c-4914-87a8-301500340cb7" name="External Services(Ingress-Pricing Batch)" type="rest_ex" wadlVersion="https://swagger.io/openapiv3/specification">
  <con:settings id="a70f3fbf-5bce-4ad0-8c6e-26d868dbe204">
    <con:setting id="ff06469a-9b7c-4914-87a8-301500340cb7fileName">External-Services%28Ingress-Pricing-Batch%29</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="External Services(Ingress - Pricing Batch).json">
    <con:part>
      <con:url>External Services(Ingress - Pricing Batch).json</con:url>
      <con:content>{"openapi":"3.0.1","info":{"title":"External Services(Ingress - Pricing Batch)","version":"1.0.0"},"servers":[{"url":"/"}],"paths":{"/v1/pricing":{"post":{"requestBody":{"content":{"application/json":{}}},"responses":{"default":{"description":"Default response"}}}}}}</con:content>
      <con:type>https://swagger.io/openapiv3/specification</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints/>
</con:interface>
