<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite xmlns:con="http://eviware.com/soapui/config" id="b0e2ec7f-a3b6-4238-945e-ce86d6d16027" name="Agency-Before Migration">
  <con:settings id="33fee79d-d8be-4f29-af3e-97311b70eca3">
    <con:setting id="b0e2ec7f-a3b6-4238-945e-ce86d6d16027fileName">Agency-Before-Migration</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:tagId>b51ba806-3b4d-4a61-9811-ac4f12dc1a04</con:tagId>
</con:testSuite>
