<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite xmlns:con="http://eviware.com/soapui/config" id="07db17e6-1740-4fe2-8c67-397f98459713" name="Combinability Rule-After Migration">
  <con:settings id="02e3832b-0b8e-41e9-93d4-e3b6b6bd8434">
    <con:setting id="07db17e6-1740-4fe2-8c67-397f98459713fileName">Combinability-Rule-After-Migration</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:tagId>35a74599-b6eb-4985-b3da-38c16113df95</con:tagId>
</con:testSuite>
