<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite xmlns:con="http://eviware.com/soapui/config" id="489c03f3-6fd7-4e06-aa1e-4fdbb1d1d8f8" name="Targeted Offer-Before Migration">
  <con:settings id="533e3aef-0d72-444f-8a47-0c6152fd6970">
    <con:setting id="489c03f3-6fd7-4e06-aa1e-4fdbb1d1d8f8fileName">Targeted-Offer-Before-Migration</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:tagId>b51ba806-3b4d-4a61-9811-ac4f12dc1a04</con:tagId>
</con:testSuite>
