<?xml version="1.0" encoding="UTF-8"?>
<con:interface xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="con:RestService" id="fb1a4f8e-e4f6-481a-876f-236bc0ed05d1" name="CruiseCatalog-ComponentBundle" type="rest_ex" wadlVersion="https://swagger.io/openapiv3/specification">
  <con:settings id="21dfd55d-6ebd-477a-bb1b-c527bee6be1c">
    <con:setting id="fb1a4f8e-e4f6-481a-876f-236bc0ed05d1fileName">CruiseCatalog-ComponentBundle</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="CruiseCatalog-ComponentBundle.json">
    <con:part>
      <con:url>CruiseCatalog-ComponentBundle.json</con:url>
      <con:content>{"openapi":"3.0.1","info":{"title":"CruiseCatalog-ComponentBundle","version":"1.0.0"},"servers":[{"url":"/"}],"paths":{"/v1/componentBundle":{"description":"","post":{"description":"","requestBody":{"content":{"application/json":{"example":"{\n\t\"brandCode\": \"${#TestCase#brandCode}\",\n\t\"officeCode\": \"{#TestCase#officeCode}\",\n\t\"countryCode\": \"{#TestCase#countryCode}\",\n\t\"bookingChannel\": \"\",\n\t\"effectiveDateTime\": \"\"\n}"}}},"responses":{"default":{"description":"Default response"}}}}}}</con:content>
      <con:type>https://swagger.io/openapiv3/specification</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints/>
</con:interface>
