<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite xmlns:con="http://eviware.com/soapui/config" id="bdcc14ac-f453-4fd6-be95-1397d09e4eee" name="pricing-snapshot-Vacation Index-Before Migration">
  <con:settings id="626fd77f-4aa8-4894-8adb-652ac6da8a47">
    <con:setting id="bdcc14ac-f453-4fd6-be95-1397d09e4eeefileName">pricing-snapshot-Vacation-Index-Before-Migration</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:tagId>b51ba806-3b4d-4a61-9811-ac4f12dc1a04</con:tagId>
</con:testSuite>
