<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite xmlns:con="http://eviware.com/soapui/config" id="3b9334e5-a9fb-4254-b186-5d70e87b1e32" name="Promotion(Ingress)(Used by ESL)-After Migration">
  <con:settings id="1724619b-f32d-4708-963a-62ebd395a4f1">
    <con:setting id="3b9334e5-a9fb-4254-b186-5d70e87b1e32fileName">Promotion%28Ingress%29%28Used-by-ESL%29-After-Migration</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:tagId>ef2ea71b-2e65-433a-9a02-b2b88d72bbd0</con:tagId>
</con:testSuite>
