<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite xmlns:con="http://eviware.com/soapui/config" id="0de33bed-cdc0-4754-903b-151155ab523d" name="promo-code(Ingress)(Used by BRMS)-Before Migration">
  <con:settings id="bfdb3127-5d68-48e7-b5ec-2671e5635300">
    <con:setting id="0de33bed-cdc0-4754-903b-151155ab523dfileName">promo-code%28Ingress%29%28Used-by-BRMS%29-Before-Migration</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:tagId>ed78df25-e257-4d79-af09-c927ef7374cb</con:tagId>
</con:testSuite>
